#home{
  display: grid;
  grid-template-columns: repeat(4, 20vw);
  grid-template-rows: repeat(10, 5vw);
}
#home h1{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}
#home img{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-left: 5vw;
}
#home h3{
  grid-column-start: 2;
  grid-column-end: 4;
  margin-left: 10vw;
}
#questoes{
  display: grid;
  grid-template-columns: repeat(10, 10vw);
}
#navegacao{
  display: grid;
  grid-column-start: 0;
  grid-column-end: 2;
  grid-template-columns: auto;
  max-width: 15%;
  grid-template-rows: repeat(10, 10vw);
  justify-content: space-between;
  margin-left: -2.5vw;
}
#navegacao nav{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 10;
}
#navegacao button{
  padding: 20px;
  text-align: center;
  border-color:black;
  cursor: pointer;
  appearance: auto;
  width: 135px;
  height: 135px;
}
#navegacao ul{
  list-style: none;
}
#conteudo{
  grid-column-start: 2;
  grid-column-end: 10;
  margin-left: -5vw;
}
#questao01{
  margin-left: 15%;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
}
#questao01 h1{
  text-align: center;
}
#questao04{
    display: none;
    margin-left: 15%;
    grid-template-columns:repeat(2, 50%);
    grid-template-rows:auto ;
    grid-template-rows: auto;
    justify-items: center;
    align-content: center;
}
#questao05{
  display: none;
  margin-left: 15%;
}

#apresentarimagenscluna1{
    grid-column-start: 1;
    grid-column-end: 1;
    padding: 25%;
    margin-left: 25%;
}
#apresentarimagenscluna2{
    grid-column-start: 2;
    grid-column-end: 2;
    padding: 50%;
    margin-left: 50%;
}
#lightbox{
    grid-row-start: 1;
    grid-row-end:1;
}
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    -webkit-text-fill-color: white;
  }
  
  .lightbox-content {
    max-width: 100%;
    max-height: 90vh;
    margin: auto;
    display: block;
  }

  .lightbox button{
    background-color: transparent;
    color: transparent;
    border-color: transparent;
  }

  .close {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }

  label {
    position: absolute;
    width: 825px;
    margin-bottom: 10px;
    text-align: right;
    left: 0;
    margin-top: 4px;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="tel"],
  input[type="submit"] {
    width: 250px;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }

  .error {
    color: red;
  }
  
  @media only screen and (max-width: 390px) {
    form {
      max-width: 100%;
    }

    label {
      width: 100%;
      text-align: left;
      position: static;
    }

    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    input[type="submit"] {
      width: 100%;
    }
  }

  @media only screen and (min-width: 1024px) {
    form {
      max-width: 600px;
    }
  }